/* Services.css */

.services-container {
    padding: 20px;
    background-color:lightpink;
    
    background-size: cover;

  }
  #h3{
    margin-top: 80px;
    padding:20px;
  }
  
  .service-section {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    background-size:auto;
    height:auto;
  
    border-radius: 20px;
    margin: 50px!important;
    padding:10px;
   
  }
  
  .service-text {
    text-align: left;
    padding: 10px;
    font-size:larger;
    color:gray;
  }
  
  .service-image {
    width: 100%;
    height: max-content;
    object-fit:contain;
    border-radius: 20px;
    
  }
  
  @media (max-width: 768px) {
    .service-section {
      flex-direction: column;
      text-align: center;
    }
  }
  #h3{
    text-align:center;
    justify-content:center;
    padding:20px;
    font-size: 70px!important;
    color:white;
  }
  @media (max-width: 768px){
    #h3{
      font-size: xx-large!important;
    }
  }